link(href="/css/reset.css", rel="stylesheet")
link(href="/css/common.css", rel="stylesheet")
link(href="/libs/custombox/dist/custombox.min.css", rel="stylesheet")
script(src="/libs/jquery/dist/jquery.js")
script(src="/libs/custombox/dist/custombox.min.js")
script(src="/js/head.js")