body {
    color: #fff;
}

.public-header {
    height: 50px;
    background: #3b3b3b;
}

.public-header .header-logo {
    margin-left: 20px;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
}

.public-header .header-nav {
    float: right;
    font-size: 14px;
}

.public-header .header-nav .item {
    float: left;
    margin-top: 20px;
    margin-right: 50px;
}

.public-header .header-nav a {
    color: #fff;
}

.public-header .header-nav a:hover {
    text-decoration: underline;
}

.public-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.modal {
    position: fixed;
    top: 25%;
    left: 32%;
    min-width: 200px;
    width: 36%;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
}

.fade {
    visibility: hidden;
    opacity: 0;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #111;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cbcbcb;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #cbcbcb;
}

.modal-footer> :not(:first-child) {
    margin-left: .25rem;
}

.modal-footer> :not(:last-child) {
    margin-right: .25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.modal-input {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #fff;
    background-color: #111;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.modal-input:focus {
    color: #fff;
    background-color: #111;
    border-color: #aaa;
    outline: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    color: #fff;
    background-color: #5b5b5b;
}

.btn:focus:enabled,
.btn:hover:enabled {
    background-color: #3b3b3b;
    text-decoration: none;
}

.btn:focus:enabled {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(253, 138, 49, 0.75);
}

.btn:disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}

.warn {
    border: 1px #f00 solid;
}

.warn-info {
    color: #f00;
}

.close {
    width: 32px;
    height: 32px;
}

.close:hover {
    opacity: .5;
}

.close:before,
.close:after {
    position: absolute;
    right: 25px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}